/* image update cover */

.update-cover-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
.table-update{ 
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
  }
.cover-div{ 
  width: 100%;
  height: 180px;
  margin-top: 10px;
}
.table-update-cover{ 
    width: 100%;
    height: 250px;
  }
  
.update-cover-label{ 
    cursor: pointer;
    color: blue;
    margin-bottom: 5px;
    padding: 10px;
}
.update-cover-label:hover{ 
    text-decoration: underline;
}
.update-cover-input{ 
    display: none;
}
.update-cover-button{ 
    border: none;
    height: 30px;
    border-radius: 5px;
    background-color: transparent;
    font-size: 20px;
    align-items: center;
    width: 60px;
    color: black;
    cursor: pointer;
}