.top {
  display: flex;
  width: 100%;
  height: auto;
  padding-top: 20px;
}
.bottom {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.setting-info {
  display: flex;
  padding-bottom: 20px;
}

.left {
  display: flex;
  width: 40%;
  align-self: end;
  float: right;
  font-weight: 500;
  padding: 0px 32px;
  text-align: right;
  justify-content: baseline;
  margin: 5px 0px 0px;
}
.right {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 0px 60px 0px 0px;
  text-align: left;
}
.image-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}
.change-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
}
.submit-avatar {
  display: flex;
}
.submit-button {
  margin: 0px 10px 0px 0px;
  padding: 5px 10px 5px 0px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 14px;
}

.choose-avatar {
  color: #0095f6;
  padding: 5px 0px;
  text-decoration: underline;
  cursor: pointer;
}

.avatar-setting {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  object-fit: cover;
}
.span-username {
  font-size: 20px;
}
.button-right {
  color: #0095f6;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
}
.input-info {
  height: 24px;
  border: 0.2px solid gray;
  border-radius: 4px;
  background-color: #fafafa;
  color: black;
}
.input-info:focus,
textarea:focus {
  outline: none;
}
.button-send {
  background-color: #0095f6;
  border: none;
  width: fit-content;
  border-radius: 4px;
  font-weight: 500;
  padding: 5px;
  color: white;
  cursor: pointer;
}
