.post{ 
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin: 30px 0 ;
}

.postWrapper{ 
    padding: 0px;
}

.postTop{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft{ 
    display: flex;
    align-items: center;
    padding: 10px;
}

.postProfileImg{ 
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    transition: filter 300ms ;
}
.postProfileImg:hover{ 
    filter: brightness(1.1) ;
}

.postUsername{ 
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}

.postDate{ 
    font-size: 12px;
}

.postCenter{ 
    margin: 0px 0 ;
    
}

.postImg{ 
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: cover;

}
.postText{ 
    padding: 10px;
}

.postBottom{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.postBottomLeft{ 
    display: flex;
    align-items: center;
}

.likeIcon{ 
    width: 24px;
    height: 24px;
    margin-right:5px ;
    cursor: pointer;
}

.postLikeCounter{ 
    font-size: 14px;
}

.postCommentText{ 
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px dashed gray;
}
.hrPost{ 
    margin: 10px;
    border: none;
    border-bottom: 1px solid gray;
}
.likeAndCommentPost{ 
    display: flex;
    height: 30px;
}
.likePostIcon:hover{ 
    background-color: rgb(219, 216, 216);
    color: white;
}
.likePostIcon{ 
    width: 50%;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 0 10px  0 10px  ;
    align-items: center;
    border-radius: 5px;
}
.postComment{ 
    padding: 10px;
    display: flex;
    align-items: center;

}
.comment{ 
    display: flex;
    width: 100%;
    margin-left: 5px;
    border-radius: 50px;
    height: 40px;
    align-items: center;
    border: none;
    background-color: rgb(215, 212, 212);
    
}
.commentInput{ 
    border: none ;
    background-color: rgb(215, 212, 212);
    margin-left: 10px;
    align-items: center;
    width: 80%;
    cursor: pointer;
}
.commentInput:focus{ 
    outline: 0;
}