/* phần này là để css của form lấy lại mật khẩu  */

.passForm {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-pass {
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.hrForgot {
  border: none;
  border-bottom: 0.5px solid rgb(187, 181, 181, 0.3);
}

.button-exit {
  width: 68px;
  height: 36px;
  text-align: center;
  border: none;
  border-radius: 8px;
  color: gray;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}
.button-exit:hover {
  background-color: red;
  color: white;
}

.button-submit {
  width: auto;
  height: 36px;
  text-align: center;
  border: none;
  border-radius: 8px;
  margin: 0 0 0 8px;
  font-weight: 500;
  font-size: 15px;
  color: gray;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.button-submit:hover {
  background-color: green;
  color: white;
}

.error {
  color: red;
  font-size: 14px;
  text-align: left;
  padding: 5px 0px;
}
