:root {
  --bg: white;
  --bg-accent: white;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 0.2px solid #d4d7d9;
  --border-radius: 8px;
  --speed: 500ms;
}

.profileRightTop {
  width: 100%;
  height: 500px;
  background: white;
  padding-bottom: 20px;
}
.profileRightBottom {
  position: relative;
  display: flex;
  width: 80%;
  left: 10%;
  right: 10%;
}

.profileCover {
  height: 350px;
  position: relative;
  overflow: hidden;
}
.profileCoverImg {
  width: 80%;
  max-height: 100%;
  object-fit: cover;
  position: absolute;
  left: 10%;
  right: 10%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.update-action {
  display: flex;
}
.close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 12%;
  top: 20px;
  color: var(--black);
  font-size: 16px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  background-color: var(--color-back);
  border-radius: var(--radius);
  background-color: #f2f2f2;
  transition: all 0.3s ease-in-out;
}
.close:hover {
  color: black;
  background-color: transparent;
}
.update-action .dropdown-select {
  margin: 0px 10px;
  cursor: pointer;
}
.update-action .dropdown-select label {
  cursor: pointer;
}
.form {
  display: flex;
}
.dropdown,
.update-action {
  position: absolute;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  width: auto;
  border-radius: 5px;
  margin: 2px;
  right: 12%;
  top: 20px;
}
.dropdown:hover .dropdown-list {
  display: block;
}
.dropdown-select:hover,
.dropdown-item:hover {
  filter: brightness(1.2);
}
.dropdown-select,
.dropdown-item {
  display: flex;
  text-align: center;
  justify-content: center;
  width: auto;
  height: 26px;
  padding: 5px 10px;
  font-size: 16px;
  background-color: var(--color-back);
  cursor: pointer;
  transform: filter 300ms;
  transition: border-color 0.2ms linear;
}
.dropdown-select {
  border-radius: var(--radius);
}
.dropdown-list:before {
  content: "";
  height: 10px;
  position: absolute;
  left: 0;
  right: 0;
  background-color: transparent;
  transform: translateY(-100%);
}
.dropdown-list {
  margin-top: 10px;
  padding-inline-start: 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  display: none;
}
.dropdown-item:first-child {
  border-radius: 4px 4px 0 0;
  position: relative;
}
.dropdown-item:first-child:before {
  position: absolute;
  content: "";
  top: 0;
  left: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #dadce1;
  transform: translateY(-100%);
}
.dropdown-item:last-child {
  border-radius: 0 0 4px 4px;
}
.reposition,
.choose-image {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/*  */
.buttonImageProfile {
  position: absolute;
  top: 45%;
  right: 44%;
  width: 32px;
  height: 32px;
  padding: 4px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: filter 300ms;
}

.buttonImageProfile:hover {
  filter: brightness(1.2);
}

.profileInfo {
  width: 100%;
  z-index: 10;
  position: relative;
  display: flex;
}
.avatarProfile {
  position: relative;
  padding: 20px;
  margin-left: 150px;
  width: 140px;
  height: 140px;
}
.profileUserImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  left: 15%;
  margin: auto;
  top: 350px;
  overflow: hidden;
  border: 3px solid white;
  transition: filter 300ms;
  cursor: pointer;
}
.profileUserImg:hover {
  filter: brightness(1.1);
}
.info-profile {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.info-profile-f1 {
  padding: 10px;
}
.info-button {
  margin-left: 30px;
  padding: 5px;
  text-align: center;
  justify-content: center;
  height: 30px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  border: 0.2px solid gray;
  background-color: transparent;
  cursor: pointer;
}
.info-username {
  font-size: 20px;
}
.info-span {
  padding: 5px;
}
.info-fullName {
  font-weight: 500;
  font-size: 16px;
}
.info-desc {
  font-size: 14px;
  color: gray;
}

/* popup  */
.hr-popup {
  border: none;
  border-bottom: 1px solid rgb(221, 211, 211);
  margin: 10px;
}

.popup-avatar {
  width: 300px;
}

.profile-update-avatar {
  height: 200px;
  width: 100%;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.profile-update-avatar-label {
  cursor: pointer;
  position: relative;
  font-weight: 500px;
  color: blue;
}
.profile-update-avatar-label:hover {
  text-decoration: underline;
}
.profile-update-avatar-div {
  width: 100%;
  height: 180px;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.profile-update-avatar-image {
  height: 180px;
  width: 180px;
  margin: auto;
  padding: auto;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid rgb(234, 228, 228);
  transform: filter 300ms;
}
.profile-update-avatar-image:hover {
  filter: brightness(1.1);
}
.profile-edit {
  display: flex;
  margin: 10px;
  padding: 10px;
  text-align: left;
  justify-content: space-between;
}
.update-avatar-button {
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}
