:root{ 
    --always-dark-overlay: rgba(0, 0, 0, 0.4);
    --always-gray-40: #aeafb2;
    --primary-button-background: #1B74E4;
}

.share{ 
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}
.shareWrapper{ 
    padding: 10px;
}
.shareTop{ 
    display: flex;
}
.shareProfileImg{ 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.shareInput{ 
    border: none;
    width: 80%;
    padding-left: 10px;
    font-size: 16px;
}

.shareInput:focus{ 
    outline: none;
}

.shareHr{ 
    margin: 20px;
    border: none;
    border-bottom: 1px solid rgb(223, 218, 218);
}

.shareBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shareOptions{ 
    display: flex;
    margin-left: 20px; 
}
.shareOption{ 
    display: flex-end;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
    text-align: center;
}
.contentShareOption{ 
    font-size: 16px;
    font-weight: 500;

}
.shareIcon{ 
    font-size: 18px;
    margin-right: 5px;
}
.shareOptionText{ 
    font-size: 14px;
    font-weight: 500;
} 
.uploadFile{
    display: flex-end;
    border: 0.3px solid var(--always-gray-40);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    justify-content: center ;


}
.shareButton{ 
    width: 96%;
    height: 40px;
    margin: 10px;
    border: none; 
    border-radius: 5px;
    background-color: var(--primary-button-background);
    font-weight: 500;
    cursor: pointer;
    color: white;
    font-size: 16px;
    
}

.shareImgContainer{
    padding: 10px 10px 10px 10px;
    position: relative;
    border: 0.3px solid var(--always-gray-40);
    border-radius: 10px;
    margin: 10px;
  }
.shareImgContainer:hover{ 
    /* background-color: var(--always-dark-overlay) ; */
}
  .shareImg{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .shareCancelImg{
    position: absolute;
    top: 12px;
    right: 15px;
    cursor: pointer;
    opacity: 0.7;
  }